<h1>Log in</h1>

<%= form_tag :sessions do %>
  <label for="Username:></label>
  <%= text_field_tag :'user[username]' %>

  <label for="Password:"></label>
  <%= password_field_tag :'user[password]'%>

  <%= submit_tag 'Sign In' %>
<% end %>
