
<section class="todoapp">
	<header class="header">
		<h1><%= @user.name %></h1>
	</header>

	<section class="main">
		<ul class="todo-list">
      <li>
  			<div class="view">
  				  <label>users chores and deadlines</label>
  			</div>
      </li>

		</ul>

	</section>

	<footer class="footer">

	</footer>
</section>
