
<section class="todoapp">
	<header class="header">
		<h1><%= @user.username %></h1>
	</header>

	<section class="main">
		<ul class="todo-list">
			<% @user.user_chores.each do |user_chore| %>
      <li>
  			<div class="view">
  				  <label><%= user_chore.house_chore.chore.name %> <%= user_chore.due_date %></label>
  			</div>
      </li>
			<% end %>
			<li>
				<div class="view">
						<label><%= link_to @user.house.name, house_path(@user.house) %></label>
				</div>
			</li>

		</ul>

	</section>

	<footer class="footer">

	</footer>
</section>
