<h1>Hello, <%="#{@user.username}." %></h1>
<h3>Let's keep <%= "#{@user.house.name}" %> the cleanest house in <%= "#{@user.house.city}" %>!</h3>
<br></br>

<h3>Your chore is the Kitchen.</h3>
<h3>Here are the tasks associated with your chore:</h3>
<ol>
  <li>Sweep</li>
  <li>Mop</li>
  <li>Wipe the counters</li>
  <li>Clean out the toaster</li>
</ol>
<h3>Chores are due Thursday at 10pm.</h3>
