<h1>Welcome to the Chores App!</h1>
<p>Follow the links to either sign up or log in...</p>

<div class="main">
  <p>Once you have creates a user profile that is associated with a house, you can star tto really use this site.
  Navigate to your house's page to create, manage and view the chores associated with your house.
  Check out your own page to view and manage your the chores that you are responible for.</p>

</div>
