<% house_chore.tasks.each do |task| %>
<li>
  <div class="view">
    <label><%= task.description %></label>
    <%= button_to "x", house_chore_task_path(task.house_chore, :task_id => task.id), method: :delete, :class => "destroy" %>
  </div>
</li>
<% end %>
