

<section class="todoapp">
	<header class="header">
		<h1><%= @house %>'s Chores: </h1>
	</header>

	<section class="main">
		<ul class="todo-list">
      <% @house_chores.each do |house_chore| %>
      <li>
  			<div class="view">
  				  <label><%= house_chore.name %> </label>
  			</div>
      </li>

		</ul>

	</section>

	<footer class="footer">

	</footer>
</section>
