<section class="todoapp">
	<header class="header">
		<h1>The Chore Cycle</h1>
	</header>

	<section class="main">
		<input class="toggle-all" type="checkbox">
		<label for="toggle-all">Mark all as complete</label>
		<ul class="todo-list">
			<% @user_chores.each do |user_chore| %>
				<%= render :partial => "user_chores/user_chore_li", :locals => { :user_chore => user_chore } %>
			<% end %>
		</ul>
	</section>

	<footer class="footer">
	</footer>
</section>
