<% @chores.each do |chore| %>
<li>
  <div class="view">
    <label><%= chore.name %></label>
    <%= button_to "x", chore_path(chore), method: :delete, :class => "destroy" %>
  </div>
</li>
<% end %>
