<section class="todoapp">
	<header class="header">
		<h1>Chores</h1>
		<%= form_for(@chore) do |f| %>
			<%= f.text_field :name, :class => "new-todo", :placeholder => (@chore.errors.full_messages_for(:name).first || "Create a new chore..." ) %>
			<%= f.submit :class => "hidden"%>
		<% end %>
	</header>

	<section class="main">
		<ul class="todo-list">
			<%= render :collection => @chores, :partial => "chores/chore_li", :as => :chore %>
		</ul>
	</section>
	<footer class="footer">
	</footer>
</section>
