<section class="todoapp">
	<header class="header">
		<h1>Chores</h1>
		<input class="new-todo" placeholder="Lets make this house sparkle!" autofocus>
	</header>

	<section class="main">
		<ul class="todo-list">
			<li>
				<div class="view">
					<label><a href="#">Kitchen</a></label>
				</div>
			</li>
			<li>
				<div class="view">
					<label><a href="#">Living Room</a></label>
				</div>
			</li>
			<li>
				<div class="view">
					<label><a href="#">Bathroom</a></label>
				</div>
			</li>
		</ul>
	</section>
	<footer class="footer">
	</footer>
