<section class="todoapp">
	<header class="header">
		<h1>Chores</h1>
		<%= form_for(@chore) do |f| %>
		`<%= f.text_field :name, :class => "new-todo" %>
		<%= f.submit %>
		<% end %>
	</header>

	<section class="main">
		<ul class="todo-list">
			<% @chores.each do |chore| %>
			<li>
				<div class="view">
					<label><%= link_to chore.name, chore_path(chore) %></label>
				</div>
			</li>
			<% end %>
		</ul>
	</section>
	<footer class="footer">
	</footer>
</section>
